<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Universis Project | Slack Authorization</title>
  <!-- Universis theme core CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@universis/theme@1.1.2/css/universis.css"
    integrity="sha256-eiB6rNZqEPbZYMS4jEsZNCceohe6OhJn7knaBKgrCJY=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <style>
    .fa-10x {
      font-size: 10rem;
    }

    .message-container {
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 0;
      margin: -8px 0 0 -8px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: none;
    }
  </style>
</head>

<body>

  <main>
    <div class="container message-container">
      <% if (ok) { %>
        <div class="d-flex flex-row justify-content-center">
          <div class="px-4 py-md-3">
            <h3 class="pt-3 text-center">
              <%= model.user.name%>
            </h3>
            <div class="text-muted text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slack" viewBox="0 0 16 16">
                <path d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111C0 9.186.756 8.43 1.68 8.43h1.682v1.68zm.846 0c0-.924.756-1.68 1.681-1.68s1.681.756 1.681 1.68v4.21c0 .924-.756 1.68-1.68 1.68a1.685 1.685 0 0 1-1.682-1.68v-4.21zM5.89 3.362c-.926 0-1.682-.756-1.682-1.681S4.964 0 5.89 0s1.68.756 1.68 1.68v1.682H5.89zm0 .846c.924 0 1.68.756 1.68 1.681S6.814 7.57 5.89 7.57H1.68C.757 7.57 0 6.814 0 5.89c0-.926.756-1.682 1.68-1.682h4.21zm6.749 1.682c0-.926.755-1.682 1.68-1.682.925 0 1.681.756 1.681 1.681s-.756 1.681-1.68 1.681h-1.681V5.89zm-.848 0c0 .924-.755 1.68-1.68 1.68A1.685 1.685 0 0 1 8.43 5.89V1.68C8.43.757 9.186 0 10.11 0c.926 0 1.681.756 1.681 1.68v4.21zm-1.681 6.748c.926 0 1.682.756 1.682 1.681S11.036 16 10.11 16s-1.681-.756-1.681-1.68v-1.682h1.68zm0-.847c-.924 0-1.68-.755-1.68-1.68 0-.925.756-1.681 1.68-1.681h4.21c.924 0 1.68.756 1.68 1.68 0 .926-.756 1.681-1.68 1.681h-4.21z"/>
              </svg>
              &nbsp;Connected to Slack.
            </div>
            <div class="text-center text-muted small">
              You will be redirected to your profile in 5 seconds.
            </div>
            <div class="text-center pt-5"></div>
          </div>
        </div>
      <% } else { %>
        <div class="col-md-8 col-sm-10 col-xs-10">
          <div class="d-flex flex-row justify-content-center">
            <i class="fa fa-frown-o fa-10x text-secondary" title="E404"></i>
          </div>
          <div class="d-flex flex-row justify-content-center">
            <div class="px-4 py-md-3">
              <h3 class="pt-3 text-center">
                An error occured
              </h3>
              <h5 class="text-muted text-center">
                <%= error.message %>
              </h5>
              <div class="text-muted text-center">
                <a href="user">Return</a>
              </div>
              <div class="text-center pt-5"></div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </main><!-- /.container -->

  <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha256-2JaAhvdQnfNMMnhWPauHOZ2k+dzftBmBjjownu3HC4g=" crossorigin="anonymous"></script>

  <% if (ok) { %>
    <script type="text/javascript">
      $(document).ready(function () {
        setTimeout(function () {
          window.location.href = "user";
        }, 5000);
      });
    </script>
  <% } %>
</body>

</html>